{% extends 'en_base.html.twig' %}
{% block body %}
    <div>
        <section>
            <div class="jumbotron">
                <h2 class="display-3">Project</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante ante, volutpat in diam et,
                    convallis
                    sodales nisi. Donec a suscipit lacus. Aliquam tellus ex, rhoncus ut dignissim vitae, aliquam in
                    felis.
                    Curabitur efficitur porta odio vitae tincidunt. Maecenas congue, lacus et hendrerit condimentum, mi
                    dolor dapibus mi, accumsan interdum dolor metus nec mauris. Nullam facilisis enim et leo fringilla
                    egestas. Curabitur convallis scelerisque nisl, sed dapibus ligula porta id. In sed nibh urna.
                    Vivamus
                    molestie aliquet purus, at tempor dui bibendum nec. Nulla dapibus nulla et leo auctor, eget
                    facilisis
                    nisl dapibus. Mauris dapibus sem sed mollis tempus. Donec ullamcorper leo sem, at aliquam dui
                    dignissim</p>
                <hr class="my-4">
            </div>
        </section>
    </div>
{% endblock %}
