{% extends 'base.html.twig' %}
{% block body %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Informacja o wykorzystaniu plików cookies</h4>
        <p class="mb-0">Strona korzysta z plików cookie w celu realizacji usług zgodnie z Polityką Cookies. Możesz określić warunki przechowywania lub dostępu mechanizmu cookie w Twojej przeglądarce. </p>
    </div>
{% endblock %}
