{% extends 'base.html.twig' %}
{% block body %}
<div>
    <section>
        <div class="jumbotron">
            <h2 class="display-3">Kontakt</h2>
            <p>Hubert Furmański</p>
            <p>Nr indexu 191668</p>
            <p>hubert.furmanski1@gmail.com</p>
            <p>+48 789 555 555</p>
            <hr class="my-4">

            <form>
                <fieldset>
                    <legend>Newsletter</legend>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Wprowadź adres email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wprowadź email">
                        <small id="emailHelp" class="form-text text-muted">Możesz być pewien, że zachowamy go dla siebie.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Przekaż nam swój feedback!</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </fieldset>
            </form>
            <hr class="my-4">
        </div>
    </section>
</div>
{% endblock %}
