{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <section>
            <div class="jumbotron">
                <h2 class="display-3">Projekt</h2>
                <p class="lead">Projekt został zrealizowany w oparciu o framework Symfony w języku PHP. Aplikacja
                    została przygotowana
                    w architekturze MVC wraz z relacyjną bazą danych z zachowaniem zasad responsywności.</p>
                <hr class="my-4">
            </div>
        </section>
    </div>
{% endblock %}
